site_name: HyP3
site_url: https://hyp3-docs.asf.alaska.edu/
site_author: ASF APD/Tools Team
site_description: The Alaska Satellite Facility's Hybrid Pluggable Processing Pipeline

theme:
  name: asf-theme
  logo: images/HyP3-graphic-only.png
  icon:
    repo: fontawesome/brands/github-alt
  features:
    - navigation.instant

repo_url: https://github.com/ASFHyP3
repo_name: ASF HyP3
edit_uri: ''

extra:
  social:
    - icon: fontawesome/brands/gitter
      link: https://gitter.im/ASFHyP3/community

markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 3
  - attr_list
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences

nav:
  - Home: index.md
  - Using HyP3:
      - getting_started.md
      - Vertex: https://search.asf.alaska.edu/#/?topic=onDemand" target="_blank
      - SDK:
        - using/sdk.md
        - Example Notebook: https://nbviewer.jupyter.org/github/ASFHyP3/hyp3-sdk/blob/main/docs/sdk_example.ipynb" target="_blank
        - API Reference: using/sdk_api.md
      - API: using/api.md
  - Products:
      - products.md
      - Digital Elevation Models: dems.md
      - Product guides:
          - RTC Product Guide: guides/rtc_product_guide.md
          - RTC ATBD: guides/rtc_atbd.md
  - Other tools:
      - ArcGIS Toolbox: tools/arcgis_toolbox.md
      - ASF Tools for Python:
        - tools/asf_tools.md
        - API Reference: tools/asf_tools_api.md
  - How it works:
      - how_it_works.md
      - Current plugins:
        - HyP3 GAMMA: plugins/gamma.md
        - HyP3 autoRIFT: plugins/autoRIFT.md
  - Developer docs:
      - development.md
      - Plugins: development/plugins.md
      - Conda: development/conda.md
      - Contributing: development/contributing.md
  - Code of Conduct: CODE_OF_CONDUCT.md

plugins:
  - gitsnippet
  - search
  - section-index
  - mkdocstrings:
      handlers:
          python:
            inherited_members: true
            rendering:
              show_root_toc_entry: false
  - redirects:
      redirect_maps:
        using/vertex.md: 'https://search.asf.alaska.edu/#/?topic=onDemand'
        contributing.md: development/contributing.md
        plugins.md: development/plugins.md
