mkdocs==1.5.3
mkdocs-material==9.4.2
mkdocs-asf-theme==0.4.0
mkdocs-redirects
mkdocs-section-index
mkdocstrings==0.29.0 # FIXME: https://github.com/ASFHyP3/hyp3-docs/issues/498
mkdocstrings-python
mkdocs-macros-plugin
requests
