name: Check links

# TODO: switch back to the push trigger if/when this workflow gets fixed; see https://github.com/ASFHyP3/hyp3-docs/issues/340
# on: push
on:
  workflow_dispatch:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2.7.0
        env:
          GITHUB_TOKEN: ${{secrets.TOOLS_BOT_PAK}}
        with:
          args: --insecure "docs/**/*.md" "README.md"
          fail: true
