name: Update HyP3 SDK version

on:
  workflow_dispatch:
    inputs:
      sdk_version:
        desription: 'The new version of the SDK'
        required: true

jobs:
  bump_sdk_version:
    name: Bump the SDK version
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.TOOLS_BOT_PAK }}

      - name: create patch branch
        id: patch
        env:
          SDK_VERSION: ${{ github.event.inputs.sdk_version }}
          PATCH_BRANCH: bumb-sdk-${{ github.event.inputs.sdk_version }}
        run: |
          git config user.name "tools-bot"
          git config user.email "UAF-asf-apd@alaska.edu"
          echo "::set-output name=branch::${PATCH_BRANCH}"
          git checkout -b ${PATCH_BRANCH}
          grep -lr "hyp3-sdk.git" | xargs sed -i -r "s/v[0-9]+\.[0-9]+\.[0-9]+/${SDK_VERSION}/"
          sed -i -r "s/hyp3_sdk=[0-9]+\.[0-9]+\.[0-9]+/hyp3_sdk=${SDK_VERSION#v}/" conda-env.yml
          git commit -am "Bump SDK version to ${SDK_VERSION}"
          git push origin ${PATCH_BRANCH}

      - name: open PR
        uses: repo-sync/pull-request@v2
        with:
          source_branch:  ${{ steps.patch.outputs.branch }}
          destination_branch: main
          pr_title: Update HyP3 SDK version to ${{ github.event.inputs.sdk_version }}
          pr_body: |
            PR created by a `workflow_dispatch` event
          pr_assignee: ASFHyP3/tools
          pr_label: tools-bot
          pr_draft: false
          pr_allow_empty: true
          github_token: ${{ secrets.TOOLS_BOT_PAK }}
